option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RAILS_MASTER_KEY: 89357d7a0027fe0e8aa3a6359a236ac4
    RAILS_SERVE_STATIC_FILES: true
    RAILS_LOG_TO_STDOUT: true
    RAILS_LOG_LEVEL: debug
    DATABASE_URL: postgres://postgres:postgres@quote-editor-db.cziqkw0461s5.ap-southeast-2.rds.amazonaws.com:5432/quote-editor-db

container_commands:
  01_simple_debug:
    command: "echo 'HELLO WORLD'"
    leader_only: true
  02_debug_env:
    command: "echo 'DATABASE_URL: $DATABASE_URL'"
    leader_only: true
  03_run_migrations:
    command: "bin/rails db:migrate RAILS_ENV=production"
    leader_only: true