container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/staging && bin/rails db:migrate RAILS_ENV=production"
    leader_only: true
  02_seed_if_empty:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/staging && bin/rails runner 'exit 0 if User.count > 0; load Rails.root.join(\"db/seeds.rb\")' RAILS_ENV=production"
    leader_only: true